body {
    color: $title-color;
    background-color: $bg-color;
    font-family: $title-font;
    font-style: normal;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.01em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @media screen and (min-width: 360px) {
        width: 360px;
    }
}